<div *ngIf="sources && sources.length" class="block list">
  <div class="block-header">Sources</div>
  <div class="block-content">
    <div class="source-block" [class.selected]="selectedSource === source" (click)="onSelect(source)" *ngFor="let source of sources">
      <div class="source-name">{{source.name}}</div>
    </div>
    <button class="link-button" (click)='addSource()'>+ new source</button>
  </div>
</div>
<app-source-detail [source]="selectedSource" class="details"></app-source-detail>
<span class="clear"></span>
