.source-block {
  padding: 10px;
  margin: 10px;
  /* width: 10em; */
  height: 2.5em;
  padding-left: 1em;
  border: 1px solid #ccc;
}

.source-block:hover, .source-block.selected{
  background-color: #eee;
}

.list {
  width: 20%;
  float: left;
  min-width: 15em;
}

.details {
  width: 60%;
  min-width: 30em;
  float: left;
}
