.source-block {
  padding: 10px;
  margin: .5em 0 ;
  /* width: 10em; */
  height: 2.5em;
  padding-left: 1em;
  border: 1px solid #ccc;
}

.source-block:hover, .source-block.selected{
  background-color: #eee;
}

.list {
  float: left;
  min-width: 15em;
}

.details {
  min-width: 30em;
  float: left;
}

.link-button {
  margin-left: .5em;
}
